* {
    color: $font-color;

    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: $background-color-body;
}

.main {
    min-height: 75vh;
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    background-color: $background-color-main;
}

img {
    height: 100%;
    display: block;
}
