* {
    color: $font-color;

    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: $background-color-body;
}

.main {
    min-height: 75vh;
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    background-color: $background-color-main;
}

img {
    height: 100%;
    display: block;
}

img:not([alt]) {
    outline: 4px rgb(255, 0, 0) dashed !important;
}

img, embed, object, video {
    max-width: 100%;
}

.me {
    float: left;
    margin-right: 1em;
}

@media (max-width: 1180px) {
    .me {
        float: none;
        margin-bottom: 1em;
    }
}
