@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Sanchez&display=swap');

$main-font: 'Sanchez', serif;;
$header-font: 'PT Serif', serif;

$font-color: #fff;
$font-alternative-color: #000;
$accent-color: rgb(180, 39, 39);
$background-color: #282828;
$background-color-main: #121212;
$background-color-body: rgb(212, 212, 212);
